*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}
.land_logo_div{
   
    background-image: url("../utils/Images/logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 70px;
    margin: 10px;
}
.land_main_container{
    background: url("../utils/Images/land_background.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 1;
    height: 100%;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.land_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:auto;

}
.land_wrapper{
    width: 80%;

    
}
.get_started{
    border: none;
    font-size: 1.1rem;
    padding: 15px;
    border-radius: 30px;
    margin: 20px;
    border: 1.7px solid white;
    background-color: rgb(255, 255, 255,0);
    color: white;
    transition: background-color 0.3s ease , color 0.3s ease;

}
.get_started:hover{
    background-color: white;
    color: black;   
    cursor: pointer;


}
.land_sign_btn{
    border: none;
    font-size: 1.1rem;
    padding: 15px;
    width: 120px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 0px 14px 0px black;
    margin: 20px;
    transition: all .3s ease-in-out;

}
.land_sign_btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* section2 */
.land_sec_2{
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.land_sec_2_Lbox{
    background: url("../utils/Images/landingPage_vector.jpg") no-repeat center center ;
    background-size: cover;
    height: 600px;
    width: 700px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
}
.land_sec_2_Rbox{
    font-family: 'Signika', sans-serif;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 500px;
    gap: 30px;
}
.land_sec_2_Rbox h1{
    font-size: 2.6rem;
}
.land_sec_2_Rbox p{
    font-size: 1.4rem;
}
.land_sec_2_Rbox button{
    width: 200px;
    margin: 0;

}
/* section3 */
.land_sec_3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sec_3_box{
    background-color: white;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 16px 20px 0px rgb(0, 3, 97);
    width: 300px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    transition: all .3s ease-in-out;
}
/* .sec_3_box:hover{
    transform: scale(1.05);
    
} */
.land_sec_3_img_1{
    background-image: url("../utils/Images/reminder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}
.land_sec_3_img_2{

    background-image: url("../utils/Images/discuss.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}
.land_sec_3_img_3{
    
    background-image: url("../utils/Images/learn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}
