:root{
    --main-light-grey: rgb(46, 46, 46);
    --main-medium-grey: rgb(39, 39, 39);
    --main-dark-grey: rgb(26, 26, 26);
    --main-shadow:rgb(11, 11, 11);
    --main-light-shadow:rgb(29, 29, 29);
}


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.loader_screen{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-dark-grey);
}