:root{
    --dark-grey: #2b2b2b;
    --medium-grey: #373636;
    --light-grey: hsl(0, 0%, 83%);
    --light-green: #63cd32;
    --medium-green: hsl(103, 71%, 42%);
    --dark-green: #399e2e;
    --font-color: rgb(209, 209, 209);

    --dark-blue : #02204c;
    --medium-blue : #03386d;
    --light-blue: #045c97;
    --ligher-blue: #6497b1;
    --lightes-blue:#b4cee2 ;

    

}


*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}



.login_body{
    
    background: #3399ff;
   
}
.login_main_container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.login_pic_div{

    background-image: url(../utils/Images/loginPic.jpg);
    background-repeat: no-repeat;
    background-size: contain;


    width: 450px;
    height: 450px;
}


.Login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 350px;
    flex-basis:350px;
}
.img {
    
    width: 60px;
    height: 60px;
    display: inline;
    border-radius: 4px;
}

.Login_div{
    border-radius: 0px 20px 20px 0px;
    border: white 2px solid;
    background-color: rgba(44, 135, 255, 0.7) ;
    height: 446px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 446px;






}


#submit_btn{
    color: white;
    font-size: 1.1rem;
    margin: 20px;
    height: 50px;
    width: 200px;
    background-color: rgb(0, 29, 92); 
    border: none;
    border-radius: 20px;

    transition:  background-color 0.4s ease;


}
#submit_btn:hover{

    color:  white;
    cursor: pointer;
    background-color: rgba(0, 31, 97, 0.342);



}


.inputs{

    color: #2b2b2b;
    font-size: 1.1rem;
    border: none;
    background-color: rgb(203, 220, 250);
    padding: 10px;
    height: 40px;
    border-radius: 0px 6px 6px 0px;

}
.Login_box{
   
    border-radius: 6px;
    display: flex;
    background-color: rgb(203, 220, 250);
    align-items: center;
    justify-content: center;
}

.login_box_container{

    padding: 20px;
}

/* footer */

.login_footer{

  background-color: var(--lightes-blue) ;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;



}
.login_footer_logo{

  width: 390px;
  height: 90px;





}
.login_footer_wrapper{
  color: var(--dark-blue);
  flex-direction: column;
  width: 800px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;




}

.login_footer_socials img{

  width: 50px;
  height: 50px;

  margin: 20px;

}
.login_footer_copyright{


  background-color: var(--dark-blue);
  color: var(--lightes-blue);






}
.copyright p{

  padding: 20px;





}


/* background */

  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: 300px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: 200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: 100px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: 0px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -100px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.6);
    }
    
    50%{
      transform: scale(1.0);
    }
    
    100%{
      transform: scale(0.6);
    }
  }
  