*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}


.password_div{
    max-width: 100%;
}
.main_main_register_container{
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.main_register_container{

    
    display: flex;align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
    z-index: 100;
    



}
.register_contianer{
    width: 70vw;
  height: 700px;
    display: flex;

}
.socail_container{
    display: flex;
    gap: 30px;
}
.socail_container img{
    width: 50px;
    height: 50px;
}
.socail_container img:hover{
    cursor: pointer;
}


.register_form{
    background-color: rgb(255, 255, 255);
    flex: 2 0.6 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
    width: 100%;
}
.register_signup_image{
    /* background-image: url("/LoginBack.jpg");
   
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; */
    background-image: linear-gradient(rgb(33, 110, 255), rgb(0, 24, 69));
    width: 100%;
    opacity: 1;
}
.register_inputs{
    font-size: 1.3vw;
    border: none;
    background-color: rgb(233, 245, 255);
    width: 95%;
    height: 50px;
    border-radius: 30px;
    padding: 20px;
}
.register_title{
    font-size: 2.3vw;
    font-family: 'Signika', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    word-spacing: 5px;
}

.register_inputs_main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.register_input_divs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
}
h5 {
    width: 58%; 
    text-align: center; 
    border-bottom: 1px solid rgb(187, 187, 187); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h5 span { 
    color: rgb(179, 179, 179); 
     background:#fff; 
     padding:0 10px; 
 }
 .register_submit{
    background-color: rgb(33, 110, 255);
    height: 60px;
    width: 25%;
    border-radius: 50px;
    border: none;
    font-size: 1.3vw;
    margin-top: 10px;
    color: white;
 }
 .register_submit:hover{
    background-color:  rgb(0, 67, 191);
    cursor: pointer;
    
 }
 .register_social_title{
    font-size: 1.3vw;
    font-weight: 200;
    color: rgb(103, 103, 103);
 }

 .register_signup_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 50px;

    height: 100%;

 }
 .register_signup_image p{
    
    color: rgb(188, 211, 255);
    font-size: 1.4vw;
    font-weight: 100;
    margin-bottom: 30px;
    
    word-spacing: 2px;

 }
 .register_signup_image h1{
    margin-bottom: 30px;
    color: white;
    font-size: 4.5vh;

 }
 .register_div_signup{
    display: flex;
    height: 100%;
    gap: 5px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 62%;
 }
 .register_signup_btn{
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 50%;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 40px 0px rgb(0, 27, 91);

    font-size: 1.3vw;
 }
 .register_signup_btn:hover{
    background-color: rgb(227, 235, 255);
    cursor: pointer;
 }
 .register_cross_btn{
    position: relative;
    
    left: calc(100% - 5%);
    background-image: url("../utils/Images/cross.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
 }
 .register_cross_btn:hover{
    cursor: pointer;
 }

 .register_cross_btn_div{
    padding-top: 15px;
    width: 100%;
    padding-right: 15px;

 }